body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c; /* Светло-черный фон */
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px; /* Уменьшенная высота полоски */
    background-color: #333; /* Чуть светлее, чем черный */
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left h1 {
    font-size: 28px;
    margin-left: 20px;
    color: #141414; /* Неоновый оранжевый */
    font-weight: 600;
}

.header-right {
    display: flex;
    align-items: center;
}

.balance-icon {
    display: flex;
    align-items: center;
    background-color: #444; /* Чуть светлее, чем темный */
    border-radius: 5px;
    padding: 5px 10px;
}

.balance-img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

#balance {
    font-size: 18px;
    font-weight: bold;
}

.logo-img {
    width: 70px; /* Увеличенный размер логотипа */
    height: auto;
    cursor: pointer; /* Указатель мыши при наведении */
}
