        /* Модальное окно */
        .modal {
            display: none; 
            position: fixed; 
            z-index: 1; 
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%; 
            overflow: auto; 
            background-color: rgba(0, 0, 0, 0.8); /* Темный фон */
        }

        .modal-content {
            background-color: #333; /* Темный цвет содержимого */
            color: #fff; /* Белый текст */
            margin: 15% auto; 
            padding: 20px;
            border: 1px solid #888;
            border-radius: 8px; /* Округлённые края */
            width: 80%; 
            max-width: 500px;
        }

        .checkbox {
            margin: 10px 0;
        }
